[Desktop Entry]
Type=Application
Name=Books
Name[de]=Bücher
Name[es]=Libros
Name[fi]=Kirjat
Name[hu]=Könyvek
Name[nl]=Boeken
Name[pt_BR]=Livros
Name[ru]=Книги
Name[sv]=Böcker
Comment=E-Book Reader
Exec=org.monich.harbour.books
Icon=org.monich.harbour.books
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=Documents;Downloads;RemovableMedia;Audio
OrganizationName=org.monich
ApplicationName=harbour.books
ExportDBusInterfaces=org.monich.harbour.books
ExecDBus=/usr/bin/invoker --type=silica-qt5 --desktop-file=org.monich.harbour.books.desktop -n -d 5 /usr/bin/org.monich.harbour.books

